<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.evolboot.identity.domain.bff.repository.IdentityBffMapper">



    <select id="findStaffUser"
            resultType="org.evolboot.identity.domain.bff.dto.BffStaffUser">
        select *
        from (select *
              from evoltb_identity_user
              where user_identity_ <![CDATA[ & ]]> 4 > 0
                and del_state_ = 'ACTIVE') as t1
                 left join (select iur.user_id_,
                                   group_concat(ir.role_name_) as role_name_,
                                   group_concat(ir.id_)        as role_id_
                            from evoltb_identity_user_role iur,
                                 evoltb_identity_role ir
                            where iur.role_id_ = ir.id_
                            group by iur.user_id_) as t2 on t1.id_ = t2.user_id_
    </select>

</mapper>
