<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>${notice.locale.title}</title>
    <style>
        video {
            width: 100%
        }

        img {
            max-width: 100%
        }
    </style>
</head>

<body>

<div style="margin: 20px;">
    <div>
        ${notice.locale.content}
    </div>
</div>
</body>
</html>